/* Default */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.clearfix::after{
    content:'';
    clear:both;
    display: table;
}

/*body*/
body{
    margin:0px auto; 
    max-width: 70%;
}
/* header*/
header{
    height:100px;
    margin-bottom: 20px;
}

/* sections*/

#first-section{
    height: 300px;
    margin:20px 0px ;
}
/* section blue contents */
#second-section{
    height: 500px;
    margin:20px 0px ;
}
#header-inside{
    height:50px;
    margin-bottom: 10px;
}

.sidebar{
    height: 420px;
    width:20%;
}
/*main in section-main*/
main{
    width: calc(59% - 11px);
    margin: 0 10px;
    height: 420px;
}

/* Footer */
footer{
    height:50px;
}

/* Float */
.float-left{
    float: left;
}
.float-right{
    float:right;
}
/* colors*/
.pink{
    background-color: #e674e8;
}

.yellow{
    background-color: #e1d773;
}

.light-blue{
    background-color: #a9cee8;
}

.blue{
    background-color: #0082fd;
}

.purple{
    background-color: #8800ff;
}